@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}
.wrapper {
	margin: auto;
	width: 70%;
	max-width: 1280px;
}
input {
	outline: none;
}

/*=== HEADER ===*/
body > header {
	border-bottom: 8px solid #000;
	margin-bottom: 10px;
}
nav {
	width: 100%;
	height: 85px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.btn {
	cursor: pointer;
	display: block;
	max-height: 61px;
	position: relative;
}
.btn img {
	height: 100%;
}
.btn-menu {
	display: none;
}
.btn-active:after {
	content:"";
	display: block;
	position: absolute;
	left: calc(50% - 15px);
	top: 3px;
	width: 53px;
	height: 53px;
	background: #ebcc26;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	z-index: 12;
}
.btn-menu.btn-active:after {
	left: calc(50% - 3vh);
}
.drop-menu {
	height: 100%;
}
.drop-menu ul {
	display: flex;
	height: 100%;
	padding: 0;
	margin: 0;
}
.drop-menu li {
	display: block;
	margin: 0 30px 0 0;
	border: 5px solid transparent;
	padding: 1.3em 0.3em 0 0.1em;
	border-bottom: none;
	cursor: pointer;
}
.drop-menu .tab-active {
	border-color: #000;
}
.drop-menu a {
	color: inherit;
	text-decoration: none;
}

/*=== POPUP ===*/
.drop-login {
	display: none;
	flex-shrink: 0;
	position: absolute;
	top: 85px;
	right: 0;
	z-index: 10;
	background-color: #000;
}
.drop-login form {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: 1em 6em 2em 1.5em;
}
.drop-login input {
	color: #fff;
	background-color: #000;
	font-size: 1.1em;
	border: 3px solid #fff;
}
.drop-login input:focus {
	-webkit-box-shadow: inset 0 0 6px 1px #fff;
	-moz-box-shadow: inset 0 0 6px 1px #fff;
	box-shadow: inset 0 0 6px 1px #fff;
}
.drop-login ::-moz-placeholder{
	color: #fff;
	opacity: 1;
}
.drop-login :-moz-placeholder{
	color: #fff;
	opacity: 1;
}
.drop-login ::-webkit-input-placeholder {
	color: #fff;
	opacity: 1;
}
.drop-login :-ms-input-placeholder {
	color: #fff;
	opacity: 1;
}
.drop-login input:not([type="submit"]) {
	margin-bottom: 1em;
	width: 330px;
	padding: 0.2em 1em;
}
.drop-login [type="submit"] {
	width: 50%;
	padding: 0.2em 2em 0.2em 0.3em;
}

/*=== CATALOG ===*/
.tab-content table {
	width: 100%;
	border-collapse: collapse;
	font-size: 1.1em;
	table-layout: fixed;
}
.tab-content th {
	background-color: #c88f67;
}
.tab-content td {
	color: #909090;
	padding-left: 1.2em;
}
.tab-content td, th {
	border: 5px solid #c88f67;
	font-weight: bold;
	word-wrap: break-word;
	height: 60px;
}
.tab-content th:first-child,
.tab-content td:first-child {
	width: 25%;
}
.tab-content th:nth-child(2),
.tab-content td:nth-child(2) {
	width: 20%;
}
.tab-content th:last-child,
.tab-content td:last-child {
	width: 55%;
}
.tab-content tr:last-child {
	height: calc(100vh - 226px);
}
.tab-content tr:last-child td {
	border-bottom: none;
}

/*=== FORM ===*/
.tab-content form * {
	transition-property: background, color, border-color, box-shadow;
	transition-duration: 0.2s;
	transition-timing-function: linear;
}
.tab-content form {
	margin-top: 30px;
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 30px;
}
.tab-content label {
	margin-bottom: 52px;
	display: flex;
}
.tab-content label span {
	display: inline-flex;
	width: 20%;
	border-style: solid;
	border-width: 5px;
	border-right: none;
	justify-content: center;
	align-items: center;
}
.tab-content input:not([type="submit"]) {
	width: 80%;
	height: 80px;
	border-style: solid;
	border-width: 5px;
	font-size: 1.2em;
	padding-left: 1em;
}
.tab-content [type="submit"] {
	border: 5px solid #b1b1b1;
	background-color: #fff;
	color: #b1b1b1;
	width: 300px;
	height: 77px;
	font-weight: bold;
	cursor: pointer;
}
.tab-content [type="submit"]:focus {
	-webkit-box-shadow: inset 0 0 6px 1px  #b1b1b1;
	-moz-box-shadow: inset 0 0 6px 1px  #b1b1b1;
	box-shadow: inset 0 0 6px 1px  #b1b1b1;
}
.tab-content .inp-default span,
.tab-content .inp-default input {
	color: #b1b1b1;
	border-color: #b1b1b1;
}
.tab-content .inp-default input:focus {
	-webkit-box-shadow: inset 0 0 6px 1px  #b1b1b1;
	-moz-box-shadow: inset 0 0 6px 1px  #b1b1b1;
	box-shadow: inset 0 0 6px 1px  #b1b1b1;
}
.tab-content .inp-warning span,
.tab-content .inp-warning input {
	box-sizing: content-box;
	color: #e83014;
	border-color: #e83014;
	border-bottom-width: 45px;
}
.tab-content .inp-warning input {
	height: 68px;
}
.tab-content .inp-warning {
	margin-bottom: 12px;
	position: relative;
}
.tab-content .inp-warning:after {
	content: 'Неверный формат вводимых данных';
	font-size: 0.6em;
	font-weight: bold;
	letter-spacing: 0.8px;
	color: #fff;
	position: absolute;
	bottom: 0.9em;
	left: 20px;
}
.tab-content .inp-empty:after {
	content: 'Неверный формат вводимых данных (пустое поле)';
}
.tab-content .inp-warning input:focus {
	-webkit-box-shadow: inset 0 0 6px 1px  #e83014;
	-moz-box-shadow: inset 0 0 6px 1px  #e83014;
	box-shadow: inset 0 0 6px 1px  #e83014;
}
.tab-content .inp-success span,
.tab-content .inp-success input {
	color: #329d30;
	border-color: #329d30;
}
.tab-content .inp-success input:focus {
	-webkit-box-shadow: inset 0 0 6px 1px  #329d30;
	-moz-box-shadow: inset 0 0 6px 1px  #329d30;
	box-shadow: inset 0 0 6px 1px  #329d30;
}

article {
	border-bottom: 1px solid #e3e3e3;
	padding-bottom: 24px;
	margin: 10px 5vw 50px 5vw;
}
article > p b {
	color: #413d8b;
}

.metainf span {
	color: #7F7F7F;
}


/*=== MOBILE ===*/
@media only screen and (max-device-width : 768px), only screen and (max-width: 768px) {

	body {
		font-size: 2.2em;
	}
	main.wrapper {
		width: 100%;
	}
	nav.wrapper {
		position: static;
		height: 9vh;
	}
	nav.wrapper .btn {
		height: 6vh;
		max-height: none;
	}
	.btn-active:after {
		right: calc(50%);
		top: 0.3vh;
		width: 5.4vh;
		height: 5.4vh;
	}
	/*=== HEADER ===*/
	header {
		margin-bottom: 4px;
		border-width: 14px;
	}
	.btn-menu {
		display: block;
	}
	.drop-menu {
		display: none;
		position: absolute;
		background-color: #000;
		width: 100vw;
		height: auto;
		top: 9vh;
		left: 0;
		z-index: 12;
	}
	.drop-menu ul {
		font-size: larger;
		padding: 0 15vw 2.7em 15vw;
		flex-direction: column;
		align-items: flex-start;
		color: white;
	}
	.drop-menu li {
		border-width: 3px;
		border-bottom: 3px solid transparent;
		padding: 0.6em 0.8em;
		margin: 10px 0 0 0;
	}
	.drop-menu .tab-active {
		border-color: #dcb832;
	}
	.drop-menu a {
		color: inherit;
		text-decoration: none;
	}

	/*=== POPUP ===*/
	.drop-login {
		top: 9vh;
	}
	.drop-login form {
		width: 100vw;
		padding: 2em 20vw 3em 20vw;
	}
	.drop-login input:not([type="submit"]) {
		width: 100%;
	}

	/*=== CATALOG ===*/
	.tab-content table {
		max-width: 100vw;
	}
	.tab-content th, .tab-content td {
		height: 2em;
		border-width: 7px;
	}
	.tab-content th:first-child,
	.tab-content td:first-child {
		width:27%;
		border-left: none;
	}
	.tab-content th:nth-child(2),
	.tab-content td:nth-child(2) {
		width:33%;
	}
	.tab-content th:last-child,
	.tab-content td:last-child {
		width: 40%;
		border-right: none;
		text-align: center;
		padding-left: 0;
	}
	.tab-content tr:last-child {
		height: calc(91vh - 22px - 4em);
	}

	/*=== FORM ===*/
	.tab-content form {
		margin: 25px 8vw 70vh 8vw;
		font-weight: normal;
		font-size: 0.8em;
	}
	.tab-content label {
		display: block;
		margin-bottom: 65px;
	}
	.tab-content label span {
		/*display: inline-block;*/
		width: auto;
		padding: 10px 50px 3px 18px;
		border: none;
		position: relative;
		top: 3px;
	}
	.tab-content input:not([type="submit"]) {
		height: 110px;
		border-width: 12px 7px 7px 7px;
		width: 100%;
	}
	.tab-content [type="submit"] {
		display: block;
		height: 110px;
		width: 50vw;
		margin: auto;
		font-size: 1.2em;
		border-width: 7px;
	}
	.tab-content .inp-default span {
		color: #fff;
		background-color: #b1b1b1;
	}
   .tab-content .inp-warning span {
		color: #fff;
		background-color: #e83014;
   }
   .tab-content .inp-warning input {
	   height: 90px;
	   border-bottom: 60px solid;
	   width: calc(100% - 14px - 1em);
   }
	.tab-content .inp-warning {
		margin-bottom: 40px;
	}
	.tab-content .inp-success span {
		color: #fff;
		background-color: #329d30;
	}
}
